# Ignore node_modules directory as it will be installed inside the container
node_modules

# Ignore local environment files
.env

# Ignore logs
logs
*.log

# Ignore OS-specific files
.DS_Store


# Ignore IDE and editor configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore build and test directories
coverage/


# Ignore temporary files and swap files
*.tmp
*.swp

# Ignore Dockerfile and docker-compose.yml (optional)
Dockerfile*
docker-compose.yml

# Ignore Git-specific files
.git
.gitignore

# Ignore CI/CD-specific files
.github/
.gitlab-ci.yml
.circleci/

# Ignore user-specific files
*.local
*.pid
